.projetos_cardsContainer {
	gap: 2em;
	justify-content: center;
	align-items: center;
	min-height: 550px;
}

.projetos_card {
	flex-direction: column;
	justify-content: space-evenly;
	width: 18.75em;
	border-radius: 10px;
	background-color: var(--card-bg);
	color: var(--card-text);
	text-align: center;
	box-shadow: 0 0 30px -5px;
}

.card_contentHidden {
	flex-direction: column;
	transition: max-height .3s;
	opacity: 0;
	max-height: 0;
}

.card_img {
	border-radius: 10px 10px 0 0;
	overflow: hidden;
}

.card_img img {
	transition: all .3s;
	width: 100%;
	height: 10em;
}

.card_description {
	font-size: .825em;
	padding: 0 1.2em;
	margin: .4em 0;
}

.card_title {
	padding-top: .6em;
}

.card_action {
	text-decoration: none;
	color: var(--card-bg);
	padding: .6em .8em;
	margin: 0 1em;
	border-radius: 30px;
	font-size: .9em;
}

.card_action:hover,
.card_action:focus {
	color: var(--text-color);
}

.card_arrow {
	padding-bottom: .6em;
	font-size: 1.2em;
	transform: rotateZ(0deg);
	transition: transform .4s;
}

.projetos_card:hover .card_contentHidden {
	max-height: 11.25em;
	opacity: 1;
	transition: max-height .3s, opacity .3s;
}

.projetos_card:hover .card_img img {
	transform: scale(1.2);
	opacity: .8;
}

.projetos_card:hover .card_arrow {
	transform: rotateZ(-180deg);
	color: var(--cold-tone);
}